@import '~antd/dist/antd.css';

.logo {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 30px;  
}

.header-nav {
  float: right;
}

.site-layout-content {
  min-height: 75vh;
  padding: 24px;
  background: #fff;
}